.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    width: 100%;
    max-width: 320px;
    margin-bottom: 50px;
    input:not([type="file"]),
    textarea,
    .fileUpLoad {
      background-color: white;
      display: block;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
    textarea {
      margin-bottom: 25px;
    }
    input[type="submit"] {
      background-color: #3498db;
      color: white;
      cursor: pointer;
    }
  }
  a {
    width: 100%;
    max-width: 320px;
  }
}
