.social-login {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  button {
    width: 100%;
    max-width: 320px;
    display: flex;
    justify-content: center;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    span {
      margin-right: 10px;
      font-size: 20px;
      color: white;
    }
  }
  .social-login--Github {
    background-color: $black;
  }
  .social-login--Facebook {
    background-color: #3a5998;
  }
}
