extends layouts/main
block content
    .form-container
        form(action=routes.videos+routes.editVideo, method="get")
            input(type="text", placeholder="Title", name="title")
            textarea(placeholder="Description", name="description", cols="30", rows="3")
            input(type="submit", value="Update Video")
        a.form-container__link(href=routes.videos+routes.deleteVideo) Delete Video