extends layouts/main
block content
    .form-container
        form(action=routes.videos+routes.upload, method="get")
            laber(for="videoFile") Video File
            input(type="file", id="videoFile", name="videoFile")
            input(type="text", placeholder="Title", name="title")
            textarea(placeholder="Description", name="description", cols="30", rows="3")
            input(type="submit", value="Upload Video")