doctype html
html
    head
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css")
        link(rel="stylesheet", href="/static/styles.css")
    body
        include ../patials/header
        main
            block content
        include ../patials/footer
        script(src="/static/main.js")